*{
  padding: 0;
  margin: 0;

}

html,body{
background-color: rgb(0, 0, 0);
color: #ffffff;
font-family: Arial, Helvetica, sans-serif;


}

.parent{
height: 100vh;
padding: 30px;
display: flex;
flex-wrap: wrap;
/* display: grid; */
/* grid-template-columns: auto auto; */
gap: 30px;
justify-content: center;
}

.card{
padding: 20px;
background-color: rgb(255, 255, 255);
color: #000;
height: 350px;
width: 270px;
border-radius: 30px;
display: flex;
flex-direction: column;
justify-content: space-between;

}
.card .top{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 0px 40px 0px;
}
.top  img{
height: 45px;

padding: 4px;
border-radius: 50%;
border: 1px solid #dadada;

}


.top button{
  display: flex;
  align-items: center;
  border: 1px solid #d6d5d5;
  padding: 6px 10px;
  font-size: 11px;
  border-radius:5px ;
  gap:3px ;
  background-color: transparent;
  color: #424242;

}
.center h3{
  font-size: 20px;
  font-weight: 600;
}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
  
}
.center h2{
  margin: 3px 0px 4px 0px;
  font-size: 24px;
  font-weight: 700;
}


.center .tag{
  display:flex;
  gap: 5px;

}
.center .tag h4{
  font-size: 10px;
  background-color: #eae7e7;
  color: #111;
  padding: 4px 8px;
  border-radius: 3px;

}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #989898;
  padding: 20px 5px 10px 5px;
  
}

.bottom button{
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;
}
.bottom h3{
  font-size: 16px;

}
.bottom p{
  font-size: 10px;
  
}